/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Schicker Farbverlauf um 45 Grad gedreht */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Textfarbe auf weiß setzen, um sich vom Hintergrund abzuheben */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Elementen */
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    text-align: center; /* Zentriert den Text */
}

form {
    background: rgba(255, 255, 255, 0.2); /* Transparenter Hintergrund */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    backdrop-filter: blur(10px); /* Weicher Unschärfeeffekt */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1em;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#scanner {
    width: 100%;
    height: 300px;
    display: none;
    margin-bottom: 20px;
}

#result {
    display: none; /* Start as hidden */
    background: rgba(255, 255, 255, 0.2); /* Transparenter Hintergrund */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1em;
    color: #fff;
    backdrop-filter: blur(10px); /* Weicher Unschärfeeffekt */
}

@media (max-width: 600px) {
    form, #result, #scanner {
        width: 100%;
    }

    form, #result, #scanner {
        width: 100%;
    }
}
